#first_heading{
    color:darkgreen;
    text-align:center;
    font-weight: 500;
    font-family: fantasy;
    margin-top:40px;
}
#container{
    margin:10px auto;
    width: 460px;
    height: 500px;
    border:1px solid black;
}
#content{
    margin:50px 30px;
    width: 450px;
    height: 450px;
}
#passans{
    height:30px;
    width:300px;
    font-size:1.1em;
}
#passbutton{
    height:25px;
    font-weight: 600;
    border:1.2px solid black;
    border-radius: 3px;
}
#passbutton:hover{
    cursor:pointer;
}
.checkboxspace{
    font-size:1.1em;
    margin-right: 40px;
}
.checkboxx{
    width:20px;
    height:20px;
}
.checkboxx:hover{
    cursor:pointer;
}
#button{
    background-color:rgb(112, 112, 250) ;
    border: 2px solid rgb(112,112,250);
    border-radius:10px;
    font-weight: 700;
    font-size:1.5em;
    box-shadow: 1px 3px 8px black;
    margin:30px 120px;
}
#button:hover{
    cursor:pointer;
}
#footer{
    font-size:1.4em;
    color:blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top:100%;
    left:0px;
}

